*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
  
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, grey, white);
  
  }

.span__two {
  grid-column: span 2;
        color: #adf802;
        background-color: rgba(139, 0, 139, 0.8);
}

/* CALCULATOR */

.calculator__title {
  color: #6030b1;
  font-size: xx-large;
  font-weight: bolder;
}

.calculator__container {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 15vw);
  grid-template-rows: minmax(25vw, auto) repeat(5, 10vw);
}

/* DISPLAY */
.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 25px;
  padding-right: 50px;
  word-wrap: break-word;
  word-break: break-all;
  }

  .output .operand1 {
    color: lightgray;
    font-size: 1.5rem;
  }

  .output .operand2 {
    color: white;
    font-size: 1.5rem;    
  }


  /* Number Buttons */
  
.button {
  cursor: pointer;
      font-size: 2rem;
      border: 1px, solid #FFFFFF;
      outline: none;
  background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.button:hover {
  background-color: #5d3eff;
}

@media screen and (max-width: 600px) {
  .button {
    cursor: pointer;
        font-size: 1rem;
        border: 1px, solid #FFFFFF;
        outline: none;
    background-color: #6030b1;
      padding: 8px 20px;
      border-radius: 50px;
      color: white;
      transition: all 300ms ease;
  }
}

@media screen and (max-width: 375px) {
  .button {
    cursor: pointer;
        font-size: .5rem;
        border: 1px, solid #FFFFFF;
        outline: none;
    background-color: #6030b1;
      padding: 8px 20px;
      border-radius: 50px;
      color: white;
      transition: all 300ms ease;
  }
}